.detailsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col{
    margin: 15px;
    max-width: 400px;
    height: auto;
    height: 80%;
}

.movieImage{
    border-radius: 15px;
    width:230px;
    height:345px;
}

.movieDetails{
    font-size: 1.5rem;
}

.firstItem{
    margin-top: 0;
}